
<h1 style="text-align: center;">All Country List!</h1>

<div style="text-align: center"><span id="Name">
  <input [(ngModel)]="nameInput" type="text" name="input" placeholder="Enter Name"/>&nbsp;
  <button [disabled]="!nameInput" type="submit" (click)="filteredData('name')">Get Name</button>
</span>&nbsp; &nbsp;&nbsp;
<span  id="Population">
  <input [(ngModel)]="populationInput" type="number" name="input" placeholder="Enter Population"/>&nbsp;
  <button [disabled]="!populationInput" type="submit" (click)="filteredData('population')">Get Population</button>
</span>&nbsp; &nbsp;&nbsp;
<span  id="Area">
  <input [(ngModel)]="areaInput" type="number" name="area" placeholder="Enter Area"/>&nbsp;
  <button [disabled]="!areaInput" type="submit" (click)="filteredData('area')">Get Area</button>
</span>&nbsp; &nbsp;&nbsp;
<span  id="Currency">
  <input [(ngModel)]="currencyInput" type="text" name="input" placeholder="Enter Currency"/>&nbsp;
  <button [disabled]="!currencyInput" type="submit" (click)="filteredData('currency')">Get Currency</button>
</span>
</div>
<br/>
<div style="text-align: center;">
  <span  id="Countries">
    <button type="submit" (click)="getAllCounties()">Get All Countires</button>
  </span>
</div>
<div class="tableFixHead">
  <table>
  <thead>
    <tr>
      <th (click)="sortData('name',checked)">Name</th>
      <th (click)="sortData('currencies',checked)">Currencies</th>
      <th (click)="sortData('area',checked)">Area</th>
      <th (click)="sortData('subregion',checked)">SubRegion</th>
      <th (click)="sortData('region',checked)">Region</th>
      <th (click)="sortData('population',checked)">Population</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let x of clonePageData">
      <td>{{x["name"]}}</td>
      <td>{{x["currencies"]}}</td>
      <td>{{x["area"]}}</td>
      <td>{{x["subregion"]}}</td>
      <td>{{x["region"]}}</td>
      <td>{{x["population"]}}</td>
    </tr>
  </tbody>
</table>


</div>

